/* .up {
    background-color: #C00;
    color: white;
  } */

  .items{
      width: 20px;
      height: 35px;
      border: 1px solid;
      display: inline-table;
      margin: 3px;
  }

  /* .drumPlayer{

    width: auto;
    height: auto;
    margin: auto;
    padding: 40px;
  } */

  body{
    background-color: rgb(96, 167, 208);
    text-align: center;
}

h1{

    margin: 25px;
}


.btnSpace{
    margin: 0 1% 0;
}

.btnPlayer{

margin: 30px

}

.drumPlayer{
background-color:rgb(178, 211, 231) ;
padding: 6%;
width: 55%;
margin: 8% auto 5% auto;
}

table {
    font-family: arial, sans-serif;
    width: 100%;
  border-collapse: separate;
  border-spacing: 8px;
  }
  
  td, th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 8px;

    
  }

  .userClickedButton{

    background-color: purple;
    box-shadow: 0 0 20px white;
    /* background-color: grey; */
  }

/* pulse Yellow shadow  */

/* .shadowPlay  { */

   .up { box-shadow: 0 0 0 0 rgb(0, 0, 0);
  animation: pulse-yellow 2s infinite;
}

@keyframes pulse-yellow {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 177, 66, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
  }
}
  